<div id="header" class="container"></div>

<div id="body" ">
    <div class="row">
      
        <div class="main-content">
            <div class="page-content">
            </div>
        </div>
    </div>
</div>
<div id="footer" ></div>