<div id="header" class="container"></div>
<div class="clearfix"></div>
<div id="body" class="container rounded">
    <div class="row">
        <div class="details-main-content">
            <div class="page-content details-content">
            </div>
            <div class="comments">
            </div>
        </div>
    </div>
</div>
<div id="footer" class="container"></div>