 <div class="footer">
        <p>&copy; 2014 GDG Lima - <a ng-href="/about">About</a></p>
        <p>GDG Lima es un grupo independiente; nuestras actividades y las opiniones expresadas en esta +Pagina no deben relacionarse de ninguna forma a Google, la corporación.</p>
    </div>