<div class="alert alert-danger errorMessage" style="display:none">Complete todos los campos para poder continuar</div>
<div class="form-signin" role="form">
    <input id="email" type="text" class="form-control" placeholder="Correo Electrónico" required="" autofocus="">
    <input id="password" type="password" class="form-control" placeholder="Contraseña" required="">
</div>