<div class="container">
  <div class="row">
    <div class="span12">
      <h2>Bienvenidos al GDG Lima</h2>
    </div>
  </div>
  <div class="row">
    <div class="span12 card" id="group_pic">
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="row">
        <div class="span6">
          <h3><i class="fa fa-home"></i> Introducción</h3>
          <div class="card">
            <div class="card-wh-body">
El Google Developer Group - GDG Lima es una comunidad que investiga, comparte y difunde tecnologia Google en las areas de desarrollo de software basado en Cloud, Mobile y Web; 
tales como Google Apps API, Apps Script, App Engine, GWT,  HTML5, API Maps, entre otras tecnologias.            
 </div>
          </div>
        </div>
        <div class="span6">
          <h3><i class="fa fa-rocket"></i> Objetivo</h3>
          <div class="card">
            <div class="card-wh-body">
Nuestro objetivo es fortalecer los conocimientos de los profesionales de TI en la región difundiendo dichas 
tecnologias mediante eventos, workshops, reuniones mensuales, hangouts, entre otras actividades.          
  </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <h3><i class="fa fa-group"></i> Forma parte de nosotros</h3>
          <div class="card">
            <div class="card-wh-body">
       La participación es libre y gratuita, tanto para principiantes, desarrolladores, 
lideres de proyectos y organizaciones en general interesadas en utilizar tecnologia Google en sus proyectos.            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>